<h2>Edit User</h2>
<%= flash[:awesome] if  flash[:awesome] %>
  <%=image_tag(@user.avatar.url(:thumb))%>
  
<%= form_for(@user,:html => { :multipart => true } ) do |f| %>
  <%= f.file_field :avatar %><br>
  <%= f.text_field :name, :placeholder => "Name" %><br>
  <%= f.text_field :email, :placeholder => "Email" %><br>
  <%= f.text_field :location, :placeholder => "location" %><br>
  <%= f.date_select :birthday, :placeholder => "birthday" %><br>
  <%= f.text_area :hobbies, :placeholder => "hobbies" %><br>
  <%= f.password_field :password, :placeholder => "Password" %><br>

  <%= f.submit "Update Account" %>
<% end %>
