<h2 id="edttitle">Edit User</h2>
<%= flash[:awesome] if  flash[:awesome] %>
  <span class="topbox"><%=image_tag(@user.avatar.url(:thumb), :class => "homeimg")%></span>

<div class="editfrm col-md-5">  
	<%= form_for(@user,:html => { :multipart => true }, :class => "form form-horizontal" ) do |f| %>
	  <%= f.file_field :avatar, :class => "btn btn-default imgup" %><br>
	  <%= f.text_field :name, :placeholder => "Name", :class => "form-control" %><br>
	  <%= f.text_field :email, :placeholder => "Email", :class => "form-control" %><br>
	  <%= f.text_field :location, :placeholder => "location", :class => "form-control" %><br>
	 <span class="bday"><%= f.date_select :birthday, :placeholder => "birthday", :class => "form-control dtpkr" %></span><br>
	  <%= f.text_area :hobbies, :placeholder => "hobbies", :class => "form-control" %><br>
	  <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %><br>

	  <%= f.submit "Update Account", :class => "btn btn-primary" %>
	<% end %><br>
	<button class="btn btn-warning dlt"><%= link_to "Delete Account", delete_path(current_user.name), :class => "dltlnk" %></button>
</div>