

<!-- New user form -->

<h2>Sign Up</h2>

<%= form_for(@user) do |f| %>
	<%= f.text_field :name %>
	<%= f.text_field :email %>
	<%= f.password_field :password_digest %>
	<%= f.submit "Create Account" %>
<% end %>
