

<!-- New user form -->

<h2>Sign Up</h2>

<%= form_for(@user) do |f| %>
	<%= f.text_field :name, :placeholder => "Name" %>
	<%= f.text_field :email, :placeholder => "Email" %>
	<%= f.password_field :password, :placeholder => "Password" %>
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
	<%= f.submit "Create Account" %>
<% end %>
