<div class="topbox col-md-3">
  <h2><span id="wel-name">Welcome, </span><span id="username"><%=@user.name%></span></h2>
  <%= link_to edit_user_path @user do %>
  <div><%=image_tag(@user.avatar, :class => "homeimg")%></div>
  <%end%>
</div>
<div id="botbox" class="col-md-5">
  <h3>
    <% courses = @user.completions.map {|x| Challenge.find(x.completed_id).course} %>
    <% courses.uniq.each do |course|%>
      <h2 class="coursename"><%=link_to(course.name, course, :class => "coursename") %></h2>
      <% comp = @user.completions.map {|com| Course.where(course_id: com.completed.course_id)} %>
      <progress value='<%= comp.length%>' max='<%=course.challenges.length%>'> </progress>
    <%end%>
  </h3>
  <div id="complt-box">
    <% if @user.completions.length > 0 %>
      <ul class="col-md-12">
      <!-- Completed: -->
      <% @user.completions.each do |comp| %>
        <% @challenge = Challenge.find(comp.completed_id) %>
        <li class="challenge"><%=link_to(@challenge.title, course_challenge_path(@challenge.course,@challenge), :class => "challenge")%></li>
      <%end%>
  </div>
  <div id="tocomplt-box">
        <span class="cl-lnk">Continue Learning:</span>
        <% Challenge.all.each do |chal| %>
          <% if !Completion.exists?(completer_id:current_user.id, completed_id: chal.id) %>
            <%=link_to(chal.title, [chal.course,chal], :class => "incomplete")%>
          <%end%>
        <%end%>
        </ul>
      <% else %>
       <span class="cl-lnk">Continue Learning:</span>
        <% Challenge.all.each do |chal| %>
          <% if !Completion.exists?(completer_id:current_user.id, completed_id: chal.id) %>
            <%=link_to(chal.title, [chal.course,chal], :class => "incomplete")%>
          <%end%>
        <%end%>
      <%end%><br>
      <%=link_to("Take a class!",courses_path, :class => "takeclass")%>
  </div>
</div>

