<div class="topbox col-md-3">
  <h2><span id="wel-name">Welcome, </span><span id="username"><%=@user.name%></span></h2>
  <%= link_to edit_user_path @user do %>
  <div><%=image_tag(@user.avatar, :class => "homeimg")%></div>
  <%end%>
</div>
<div id="botbox" class="col-md-5">
  <h3>
    <% courses = @user.completions.map {|x| x.completed.course} %>
    <% courses.uniq.each do |course|%>
      <h2 class="coursename"><%=link_to(course.name, course, :class => "coursename") %></h2>
      <% comple = @user.completions.map {|com| com.completed} %>
      <% comp = comple.collect{|x| x.course_id == course.id} %>
      <progress value='<%=comp.count(true)%>' max='<%=course.challenges.length%>'> </progress>
      <div id="complt-box">
      Completed:
      <% comple.each do |x| %>
          <ul class="col-md-12">
            <% if x.course_id == course.id %>
              <li class="challenge"><%=link_to(x.title, course_challenge_path(x.course,x), :class => "challenge")%></li>
            <%end%>
          </ul>
        <%end%>
      </div>
    <%end%>
  </h3>
  
      
<div id="tocomplt-box">
  <!--needs fixin'-->
        <span class="cl-lnk">Continue Learning:</span>
        <% Challenge.all.each do |chal| %>
          <% if !Completion.exists?(completer_id:current_user.id, completed_id: chal.id) %>
            <%=link_to(chal.title, [chal.course,chal], :class => "incomplete")%>
          <%end%>
        <%end%>
        </ul>
       <span class="cl-lnk">Continue Learning:</span>
        <% Challenge.all.each do |chal| %>
          <% if !Completion.exists?(completer_id:current_user.id, completed_id: chal.id) %>
            <%=link_to(chal.title, [chal.course,chal], :class => "incomplete")%>
          <%end%>
        <%end%>
      <br>
      <%=link_to("Take a class!",courses_path, :class => "takeclass")%>
  </div>
</div>
