<h2>Welcome, <%=@user.name%></h2>
<%= link_to edit_user_path @user do %>
<%=image_tag(@user.avatar)%>
<%end%>
<% if @user.completions.length > 0 %>
  <ul>
  <% @user.completions.each do |comp| %>
    <% @challenge = Challenge.find(comp.completed_id) %>
    <li><%=link_to(@challenge.title, course_challenge_path(@challenge.course,@challenge))%></li>
  <%end%>

  </ul>
<% else %>
  <%=link_to("Take a class!",courses_path)%>
<%end%>
<!-- this is the user home page -->
<!-- Welcome User Name -->
<!-- User Image -->
<!-- user courses -->
	<!-- <span>course name</span> <span>progress bar</span> -->
<!-- course links div -->
	<!-- completed lessons (as links to lesson show page) -->
	<!-- uncompleted lessons (as links to lesson show page)-->
