<!--shows a users home page-->
<div class="topbox col-md-3">
  <% if current_user == @user %>
    <!--welcomes the user if they're the current one-->
    <h2 id="fullname"><span id="wel-name">Welcome, </span><span id="username"><%=@user.name%></span></h2>
    <%= link_to edit_user_path @user do %>
      <div><%=image_tag(@user.avatar, :class => "homeimg")%></div>
    <%end%>
    <!--links to classes, find mentor or add locationality-->
    <%=link_to("Take a class!",courses_path, :class => "takeclass")%><br>
    <%=link_to("Find a Mentor", tutor_path, :class => "takeclass") if current_user.isSomewhere?%>
    <%=link_to("Add A location to Find a Mentor", edit_user_path(current_user), :class => "takeclass") if current_user == @user && !current_user.isSomewhere?%><br>
  <%else%>
    <!--if not current user, then just display stuffs-->
    <h2 id="fullname"><span id="username"><%=@user.name%></span></h2>
    <div><%=image_tag(@user.avatar, :class => "homeimg")%></div>
    <a href="mailto:<%=@user.email%>" class='emailUser'>Email <%=@user.name%></a>
    <%=link_to("Take a class!",courses_path, :class => "takeclass2")%> 
  <%end%><br>
  <h5 class='takeclass2'><%="Located: " + @user.location if @user.isSomewhere?%></h5>
</div>
<br>
<div id="botbox" class="col-md-5">
  <!--displays progress, courses completed, challenges, and that jazz if they've done stuff, else shames them-->
  <%=("<h3 class='coursename'>".html_safe+@user.name + " hasn't begun any courses yet</h3>".html_safe)  if @user.completions.length == 0 %>
  <% courses = @user.completions.map {|challenge| challenge.completed.course} %>
  <% courses.uniq.each do |course|%>
  <div class="indv-box">
    <h2 class="coursename"><%=link_to(course.name, course, :class => "coursename") %></h2>
    <% comple = @user.completions.map {|com| com.completed} %>
    <% completed_courses = comple.collect{|complete| complete.course_id == course.id} %>
    <progress value='<%=completed_courses.count(true)%>' max='<%=course.challenges.length%>'> </progress>
    <div id="complt-box">
      <span class="cl-lnk">Completed:</span>
      <ul class="col-md-12">
        <% comple.each do |x| %>
           <% if x.course_id == course.id %>
             <li class="challenge"><%=link_to(x.title, course_challenge_path(x.course,x), :class => "challenge")%></li>
           <%end%>
        </ul>
        <%end%>
    </div>
    <% if @user == current_user %>
    <div id="tocomplt-box">
      <span class="cl-lnk">Continue Learning:</span>
      <ul>
        <% course.challenges.each do |challenge| %>
          <li><%=link_to(challenge.title, [challenge.course,challenge], :class => "incomplete") if !challenge.completers.include?(@user) %></li>
        <%end%>
      </ul>
    </div>
    <%end%>
    </div>
  <%end%>
</div>

