<h2 id="wel-name" class="col-md-12">Welcome, <%=@user.name%></h2>
<%= link_to edit_user_path @user do %>
<div class="col-md-12"><%=image_tag(@user.avatar)%></div>
<%end%>
<h3 class="col-md-12">
  <% courses = @user.completions.map {|x| Challenge.find(x.completed_id).course} %>
  <% courses.uniq.each do |course|%>
    <%=link_to course.name, course%>
    <% comp = @user.completions.map {|com| Course.where(course_id: com.completed.course_id)} %>
    <progress value='<%= comp.length%>' max='<%=course.challenges.length%>'> </progress>
  <%end%>
</h3>
<% if @user.completions.length > 0 %>
  <ul class="col-md-12">
  Completed:
  <% @user.completions.each do |comp| %>
    <% @challenge = Challenge.find(comp.completed_id) %>
    <li><%=link_to(@challenge.title, course_challenge_path(@challenge.course,@challenge))%></li>
  <%end%>
  To Complete:
  <% Challenge.all.each do |chal| %>
    <% if !Completion.exists?(completer_id:current_user.id, completed_id: chal.id) %>
      <%=link_to(chal.title, [chal.course,chal])%>
    <%end%>
  <%end%>
  </ul>
<% else %>
  To Complete:
  <% Challenge.all.each do |chal| %>
    <% if !Completion.exists?(completer_id:current_user.id, completed_id: chal.id) %>
      <%=link_to(chal.title, [chal.course,chal])%>
    <%end%>
  <%end%>
<%end%>
<%=link_to("Take a class!",courses_path)%>
