<!--edit a course form-->
<h2>Edit That Course, Dude!?</h2>
<%=image_tag(@course.icon.url(:thumb), class: 'thumb')%>
<%=form_for(@course, html: { multipart: true } ) do |f|%>
  <%= f.file_field :icon%>
  <%=f.text_field :name, placeholder: "Name"%>
  <%=f.submit%>
<%end%>