<!--create a challenge form, passes course and challenge-->
<div id="chall-container">
	<h2>Create a Challenge</h2>
	  <h3><%=@challenge.course.name%></h3>
	<div class="col-md-6">
	<%=form_for([@course,@challenge], :class => "form") do |f| %>
	  <%=f.text_field :title, placeholder: "title", :class => "chall-form"%>
	  <%=f.text_area :lesson, placeholder: "lesson", :class => "chall-form"%>
	  <%=f.text_area :problem, placeholder: "problem", :class => "chall-form"%>
	  <%=f.text_area :instructions, placeholder: "instructions", :class => "chall-form"%>
	  <%=f.text_area :hints, placeholder: "hints", :class => "chall-form"%>
	  <%=f.text_area :answer, placeholder: "answers", :class => "chall-form"%>
	  <%=f.submit "Submit", class: "btn btn-default" %>
	<%end%>
	</div>
</div>