<div class='wrap'>
  <h3><%=@challenge.course.name%></h3>
  <h4><%= @challenge.title%></h4>
  <h4><%= @challenge.lesson%></h4>
  <h4><%= @challenge.problem%></h4>
  <h4><%= @challenge.instructions%></h4>
  <h4><%= @challenge.hints%></h4>
    <span id='answer'><%=@challenge.answer%></span>

<% if !current_user.completions.exists?(completed_id:params[:id]) %>
<div id="editor"></div>
<%else%>
<div id="editor"><%=@challenge.answer%></div>
<%end%>

<% if !current_user.completions.exists?(completed_id: @challenge.id)%>
  <%=link_to("Mark Completed",completion_path(@challenge), method: :post, id:'compLink',remote:true)%>
<%end%>

<% if Challenge.exists?(@challenge.id+1) %>
<%=link_to("Next Challenge", course_challenge_path(@challenge.course,(@challenge.id + 1)), id: "nextLink") if current_user.completions.exists?(completed_id: @challenge.id)%>
<%else%>
<%=link_to("Completed All Courses", user_path(current_user), id: "nextLink") if current_user.completions.exists?(completed_id: @challenge.id)%>
<%end%>
</div>

<%=form_tag do %>
  <%=hidden_field_tag(:checkAnswer, "", :id => "content")%>
<%end%>
    
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow_night_blue");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setUseWrapMode(true);
</script>
