<div class='wrap'>
  <h3><%=@challenge.course.name%></h3>
  <h4><%= @challenge.title%></h4>
  <h4><%= @challenge.lesson%></h4>
  <h4><%= @challenge.problem%></h4>
  <h4><%= @challenge.instructions%></h4>
  <h4><%= @challenge.hints%></h4>
    <span id='answer'><%=@challenge.answer%></span>
<div id="editor">
    
</div>
<button onclick="checkForm()">submit</button>
<% if Challenge.exists?(@challenge.id+1) %>
<%=link_to("Next Challenge", course_challenge_path(@challenge.course,(@challenge.id + 1)), id: "nextLink")%>
<%else%>
<%=link_to("Completed All Courses", user_path(current_user), id: "nextLink")%>
<%end%>
</div>
    
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow_night_blue");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setUseWrapMode(true);
</script>
