<div class='wrap'>

  <div id="content-box" class="col-md-4">
    <h2 id="crsname"><%=@challenge.course.name.html_safe%></h3>
    <h4 id="chal-title"><%= @challenge.title.html_safe%></h4>
      <div id="lesson-box" class="col-md-10">
       <h5 id="chal-lesson"><%= @challenge.lesson.html_safe%></h5>
      </div>
      <div id="instruct-box" class="col-md-10">
        <h5 id="chal-instruct"><%= @challenge.instructions.html_safe%></h5>
        <h5 id="chal-problem"><%= @challenge.problem.html_safe%></h5>
      <button onclick="hintFunc()" id="hint-btn" class="btn btn-primary"><%= @challenge.hints.html_safe%>Hint</button>
    </div>
    <span id='answer'><%=@challenge.answer%></span>
  </div>

<% if !current_user.completions.exists?(completed_id:params[:id]) %>
<div id="editor"></div>
<%else%>
<div id="editor"><%=@challenge.answer%></div>
<%end%>

<% if !current_user.completions.exists?(completed_id: @challenge.id)%>
  <%=link_to("Mark Completed",completion_path(@challenge), method: :post, id:'compLink',remote:true)%>
<%end%>

<% if Challenge.exists?(@challenge.id+1) %>
<%=link_to("Next Challenge", course_challenge_path(@challenge.course,(@challenge.id + 1)), id: "nextLink") if current_user.completions.exists?(completed_id: @challenge.id)%>
<%else%>
<%=link_to("Completed All Courses", user_path(current_user), id: "nextLink") if current_user.completions.exists?(completed_id: @challenge.id)%>
<%end%>
</div>

<%=form_tag do %>
  <%=hidden_field_tag(:checkAnswer, "", :id => "content")%>
<%end%>
    
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow_night_blue");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setUseWrapMode(true);
</script>
