<!DOCTYPE html>
<html>
<head>
  <title>MarianaCoding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link href='https://fonts.googleapis.com/css?family=Allerta+Stencil|Permanent+Marker|Poppins' rel='stylesheet' type='text/css'>
</head>
<body class="bkgd2">

<% if flash[:notice] -%>
	<div id="flash_notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:miss] -%>
	<div id="flash_miss"><%= flash[:miss] %></div>
<% end %>

<% if flash[:awesome] -%>
	<div id="flash_awesome"><%= flash[:awesome] %></div>
<% end %>

<% if flash[:fail] -%>
	<div id="flash_fail"><%= flash[:fail] %></div>
<% end %>

<% if flash[:success] -%>
	<div id="flash_success"><%= flash[:success] %></div>
<% end %>

<%= yield %>


</body>
</html>
