<!DOCTYPE html>
<html>
<head>
  <title>MarianaCoding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link href='https://fonts.googleapis.com/css?family=Allerta+Stencil|Permanent+Marker|Poppins' rel='stylesheet' type='text/css'>
</head>
<body>
		<div class="col-md-12 navbar">
			<h1 id="logo" class="col-md-10"><%= link_to "Deeper Learning", user_path(current_user), :class => "logolnk" if current_user %></h1>
			<span class="dropdown col-md-2">
				<button class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="/anglersmall.png"><span class="caret"></span></button>
        <%if current_user %>
					<ul class="dropdown-menu">
						<li><%= link_to("Sign Out", logout_path)%></li>
						<li><%= link_to("Edit Account", edit_user_path(current_user))%></li>
            <%if current_user.admin %>
              <li role="separator" class="divider"></li>
              <li><%=link_to("Admin Tools", admin_path)%></li>
              <%end%>
					</ul>
        <%end%>
			</span>
		</div>

		<%= flash[:notice] if flash[:notice] %>
<%= yield %>

</body>
</html>
